<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="{F62CCF06-8761-4128-BE99-658822E03192}" Name="RssFeed" Language="1033" Version="!(bind.FileVersion.RssFeed.exe)" Manufacturer="Mark Tutkowski" UpgradeCode="821C0B49-C2DC-471E-BB93-C45168AB65BB">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="RssFeed" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="Shortcuts" />
    </Feature>

    <!-- Define UI for installer -->
    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="../LICENSE.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Images/BannerUI.png" />
    <WixVariable Id="WixUIDialogBmp" Value="Images/DialogUI.png" />
    
    <UI>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">NOT Installed</Publish>
    </UI>
    
    <Property Id="WixShellExecTarget" Value="[#RssFeed.exe]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <!-- Add/Remove Programs Icon -->
    <Icon Id="icon.ico" SourceFile="$(var.SolutionDir)RssFeed/RSS.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
  </Product>

  <!-- Define directories used by the installer. -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="RssFeed" />
        <Directory Id="StartupFolder" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="RssFeed"/>
      </Directory>
    </Directory>
  </Fragment>

  <!-- Define components to be installed -->
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="RssFeed" Guid="{AB40DDB8-2C22-4C0D-BAC5-EE0544031992}">
        <File Source="$(var.SolutionDir)RssFeed/bin/$(var.Configuration)/RssFeed.exe" KeyPath="yes"/>
      </Component>
      <Component Id="RssFeedConfig" Guid="{2982299F-3068-4566-87EA-3999CEEDB0D8}">
        <File Source="$(var.SolutionDir)RssFeed/bin/$(var.Configuration)/RssFeed.exe.config" KeyPath="yes"/>
      </Component>
      <Component Id="RssFeedImage" Guid="{DB7F4A77-2171-4ED9-81A8-93C6864B87B8}">
        <File Source="$(var.SolutionDir)RssFeed/bin/$(var.Configuration)/RSS.png" KeyPath="yes"/>
      </Component>
      <Component Id="log4net" Guid="{C8B05CEB-728B-4C29-BFBA-2D7240C29B1F}">
        <File Source="$(var.SolutionDir)RssFeed/bin/$(var.Configuration)/log4net.dll" KeyPath="yes"/>
      </Component>
      <Component Id="log4net_config" Guid="{99D58690-04CD-4B4C-B262-160475508768}">
        <File Source="$(var.SolutionDir)RssFeed/bin/$(var.Configuration)/RssFeed.exe.log.config" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="Shortcuts" Directory="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{53FAB0C1-6CCC-4710-A1A5-475B44D7F897}">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="RssFeed"
                  Description="Create toasts for new RSS items."
                  Target="[#RssFeed.exe]"
                  WorkingDirectory="INSTALLFOLDER">
          <ShortcutProperty Key="System.AppUserModel.ID" Value="RssFeedAppUserModelID" />
        </Shortcut>
        <Shortcut Id="ApplicationShortcutInStartUpFolder" 
                  Directory="StartupFolder"
                  Name="RssFeed"
                  Description="Create toasts for new RSS items."
                  Target="[#RssFeed.exe]"
                  WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Tutkowski\RssFeed" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
